{
  "sourceMaps": "inline",
  "comments": false,
  "presets": [
    "flow-node"
  ],
  "plugins": [
    "transform-async-generator-functions",
    "syntax-async-generators",
    "babel-plugin-transform-async-to-generator"
  ]
}